[Unit]
Description=simple web service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill web-%i
ExecStartPre=-/usr/bin/docker rm web-%i
ExecStart=/usr/bin/docker run --rm --name web-%i -v /media/state/shared/:/var/shared/ -p %i:%i rbucker/devbox /bin/sh -c "cd ~/src/github.com/rbucker/cododemo && go run web.go"
ExecStop=/usr/bin/docker kill web-%i

ExecStartPost=/usr/bin/etcdctl set /app/server/%i ${COREOS_PUBLIC_IPV4}:%i
ExecStopPost=/usr/bin/etcdctl rm /app/server/%i


[X-Fleet]
X-Conflicts=web@%i.service

